/**
 * Headers
 *
 */
.page-title {
  margin-top: 0px;
  line-height: 1.5;
  font-weight: normal;
  margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
  color: $gl-header-color;
  font-weight: 500;
}

/** CODE **/
pre {
  font-family: $monospace_font;

  &.dark {
    background: #333;
    color: $background-color;
  }

  &.plain-readme {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
}

.monospace {
  font-family: $monospace_font;
}

code {
  &.key-fingerprint {
    background: $body-bg;
    color: $text-color;
  }
}

a > code {
  color: $link-color;
}

/**
 * Wiki typography
 *
 */
.wiki {
  @include md-typography;

  word-wrap: break-word;

  /* Link to current header. */
  h1, h2, h3, h4, h5, h6 {
    position: relative;

    a.anchor {
      // Setting `display: none` would prevent the anchor being scrolled to, so
      // instead we set the height to 0 and it gets updated on hover.
      height: 0;
    }

    &:hover > a.anchor {
      $size: 16px;
      position: absolute;
      right: 100%;
      top: 50%;
      margin-top: -$size/2;
      margin-right: 0px;
      padding-right: 20px;
      display: inline-block;
      width: $size;
      height: $size;
      background-image: image-url("icon-link.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  ul {
    padding: 0;
    margin: 0 0 9px 25px !important;
  }
}

.md-area {
  @include md-typography;
}

.md {
  @include md-typography;
}

/**
 * Textareas intended for GFM
 *
 */
textarea.js-gfm-input {
  font-family: $monospace_font;
}

.strikethrough {
  text-decoration: line-through;
}
