- empty_repo = @project.empty_repo?
.project-home-panel.clearfix{:class => ("empty-project" if empty_repo)}
  .project-identicon-holder
    = project_icon(@project, alt: '', class: 'project-avatar avatar s90')
  .project-home-desc
    %h1= @project.name
    - if @project.description.present?
      = markdown(@project.description, pipeline: :description)

    - if forked_from_project = @project.forked_from_project
      %p
        Forked from
        = link_to project_path(forked_from_project) do
          = forked_from_project.namespace.try(:name)



  .project-repo-buttons
    = render 'projects/buttons/star'

    - unless empty_repo
      = render 'projects/buttons/fork'

      - if can? current_user, :download_code, @project
        = link_to archive_namespace_project_repository_path(@project.namespace, @project, ref: @ref, format: 'zip'), class: 'btn', rel: 'nofollow' do
          = icon('download fw')
          Download

    = render 'projects/buttons/notifications'

    = render 'projects/buttons/dropdown'

    - if @project.gitlab_ci?
      = link_to ci_project_path(@project.gitlab_ci_project), class: 'btn btn-default' do
        CI

  = render "shared/clone_panel"
